<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>natallindocartao</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Archeologicaps.ttf</string>
		<string>Artistica.ttf</string>
		<string>Bodonitown.ttf</string>
		<string>CarbonType.ttf</string>
		<string>Dominican.ttf</string>
		<string>Jelly.ttf</string>
		<string>Metropolis.ttf</string>
		<string>Mirage.ttf</string>
		<string>1942 Report.ttf</string>
		<string>36 Days Ago Bold.ttf</string>
		<string>36 Days Ago Regular.ttf</string>
		<string>8 Bit Wonder.ttf</string>
		<string>A Dripping Marker.ttf</string>
		<string>Airmole Antique.ttf</string>
		<string>Airmole Regular.ttf</string>
		<string>Airmole Shaded.ttf</string>
		<string>Airmole Stripe.ttf</string>
		<string>Aldo.ttf</string>
		<string>Almonte.ttf</string>
		<string>Amerika Sans.ttf</string>
		<string>Art Brush.ttf</string>
		<string>Averia Bold Italic.ttf</string>
		<string>Averia Bold.ttf</string>
		<string>Averia Gruesa.ttf</string>
		<string>Averia Italic.ttf</string>
		<string>Averia Light Italic.ttf</string>
		<string>Averia Light.ttf</string>
		<string>Averia Regular.ttf</string>
		<string>Averia Serif Bold Italic.ttf</string>
		<string>Averia Serif Bold.ttf</string>
		<string>Averia Serif Italic.ttf</string>
		<string>Averia Serif Light Italic.ttf</string>
		<string>Averia Serif Light.ttf</string>
		<string>Averia Serif Regular.ttf</string>
		<string>B-Boy.ttf</string>
		<string>Boston Traffic.ttf</string>
		<string>Brush Of Kent.ttf</string>
		<string>Cardinal Alternate.ttf</string>
		<string>Cardinal.ttf</string>
		<string>Chinese Calligraphy.ttf</string>
		<string>Dominican Italic.ttf</string>
		<string>Dominican Small Caps.ttf</string>
		<string>Dream Orphans Bold Italic.ttf</string>
		<string>Dream Orphans Bold.ttf</string>
		<string>Dream Orphans Italic.ttf</string>
		<string>Dream Orphans.ttf</string>
		<string>Edo SZ.ttf</string>
		<string>Episode 1.ttf</string>
		<string>Ethnocentric Italic.ttf</string>
		<string>Ethnocentric Regular.ttf</string>
		<string>Express.ttf</string>
		<string>Expressway.ttf</string>
		<string>F25 Bank Printer Bold.ttf</string>
		<string>F25 Bank Printer.ttf</string>
		<string>Felt Pen.ttf</string>
		<string>Flux Architect Bold Italic.ttf</string>
		<string>Flux Architect Bold.ttf</string>
		<string>Flux Architect Italic.ttf</string>
		<string>Flux Architect Regular.ttf</string>
		<string>Folks Normal.ttf</string>
		<string>Forgotten Futurist Bold Italic.ttf</string>
		<string>Forgotten Futurist Bold.ttf</string>
		<string>Forgotten Futurist Italic.ttf</string>
		<string>Forgotten Futurist.ttf</string>
		<string>Forgotten.ttf</string>
		<string>Gang Of Three.ttf</string>
		<string>Graffiti Font.ttf</string>
		<string>Gramophone NF.ttf</string>
		<string>Hall Fetica Decompose Italic.ttf</string>
		<string>Hall Fetica Decompose.ttf</string>
		<string>Hall Fetica Italic.ttf</string>
		<string>Hall Fetica Narrow Italic.ttf</string>
		<string>Hall Fetica Narrow.ttf</string>
		<string>Hall Fetica Upper Decompose It.ttf</string>
		<string>Hall Fetica Upper Decompose.ttf</string>
		<string>Hall Fetica Upper Italic.ttf</string>
		<string>Hall Fetica Upper.ttf</string>
		<string>Hall Fetica Wide.ttf</string>
		<string>Hall Fetica.ttf</string>
		<string>Highway Gothic Condensed.ttf</string>
		<string>Highway Gothic Expanded.ttf</string>
		<string>Highway Gothic Narrow.ttf</string>
		<string>Highway Gothic.ttf</string>
		<string>Jungle Fever.ttf</string>
		<string>Kenyan Coffee Bold Italic.ttf</string>
		<string>Kenyan Coffee Bold.ttf</string>
		<string>Kenyan Coffee Italic.ttf</string>
		<string>Kenyan Coffee.ttf</string>
		<string>Kingthings Sans.ttf</string>
		<string>MetropolisNF.ttf</string>
		<string>Mirage Gothic.ttf</string>
		<string>Mirage Italic.ttf</string>
		<string>Old London Alternate.ttf</string>
		<string>Old London.ttf</string>
		<string>Pirata One.ttf</string>
		<string>Super Mario 256.ttf</string>
		<string>Titan One.ttf</string>
		<string>Yanone Kaffeesatz Bold.ttf</string>
		<string>Yanone Kaffeesatz Light.ttf</string>
		<string>Yanone Kaffeesatz Regular.ttf</string>
		<string>Yanone Kaffeesatz Thin.ttf</string>
	</array>
</dict>
</plist>
